{% extends "layout.html" %} {% block content %}
<div class="d-felx p-5 h-full">
  <div class="d-flex justify-content-between flex-row px-5">
    <div class="px-4">
      <img
        class="card-img-top px-4 mt-3"
        src="{{book.image_link}}"
        alt="{{book.name}}"
        width="350px"
        height="400px"
      />
    </div>
    <div class="py-4 d-flex flex-column w-75 mt-4">
      <h2 class="text-uppercase">{{book.name}}</h2>
      <div><p class="text-secondary mt-1">{{book.description}}</p></div>
      <div class="d-flex justify-content-between " style="margin-top: 26px;">
        <div class="inline-flex flex-col">
          <p
            class="text-uppercase text-muted"
            style="font-size: 16px; font-weight: 600"
          >
            Author
          </p>
          <p style="font-size: 18px; margin-top: -16px">{{book.author}}</p>
        </div>
        <div class="inline-flex flex-col">
          <p
            class="text-uppercase text-muted"
            style="font-size: 16px; font-weight: 600"
          >
            published at
          </p>
          <p style="font-size: 18px; margin-top: -16px">{{book.published}}</p>
        </div>
        <div class="inline-flex flex-col">
          <p
            class="text-uppercase text-muted"
            style="font-size: 16px; font-weight: 600"
          >
            Genre
          </p>
          <p style="font-size: 18px; margin-top: -16px">
            {{book.genre|get_enum_value }}
          </p>
        </div>
       

      </div>
      <form
      method="post"
      class="w-100 text-uppercase d-flex justify-content-center " style="margin-top:60px;"
      action=""
    >
      <input
        class="btn btn-primary btn-lg text-uppercase  "
        type="submit"
        name="rent"
        value="Buy For Rent"
      />
    </form>
    </div>
  </div>
</div>
{% endblock %}
