<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Book Store - {{ title }}</title>
    {% else %}
        <title>Flask Book Store</title>
    {% endif %}
</head>
<body>
    <header class="">
      <nav class="navbar navbar-default  font-bold fixed-top border-bottom text-uppercase ">
        <div class="container-fluid  mt-4">
          <div class="navbar-header">
            
            {% if  session['admin_logged_in'] == True and request.path.startswith('/admin') %}
                  <a class="navbar-brand mb-0 h1 " href="/admin">Flask Book Store</a>
            {%else%}
                  <a class="navbar-brand mb-0 h1 " href="/">Flask Book Store</a>
            {%endif%}
        </div>
          
          <div class="nav navbar-nav d-flex flex-row  ">
            {% if  session['admin_logged_in'] == True and request.path.startswith('/admin')%}
             {%if not request.path == "/admin/login" and not request.path == '/admin/register'%}
           
              <li class="nav-item p-1">
                <a class=" nav-link border btn " href="{{ url_for('admin.add_book') }}"><span class="p-2 p text-muted">Add Book</span></a>
              </li>
              <li class="nav-item p-1">
                <a class=" nav-link border btn " href="{{ url_for('admin.create_access_key') }}"><span class="p-2 p text-muted">Admins Info</span></a>
              </li>
              <li class="nav-item p-1">
                <a class=" nav-link border btn " href="{{ url_for('admin.logout') }}"><span class="p-2 p text-muted">Logout</span></a>
              </li>
             {%endif%}
            {% else %}
              {% if current_user.is_authenticated  %}
                <li class="nav-item p-1">
                  <a class=" nav-link border btn " href="{{ url_for('auth.logout') }}"><span class="p-2 p text-muted">Logout</span></a>
                </li>
              {% else %}
                {% if not request.path == '/login' or request.path == '/register' %}
                  {%if not request.path == '/admin/login' %}
                      <a class=" nav-link border btn " href="{{ url_for('auth.login') }}"><span class="p-2 p text-muted">Login</span></a>
                  {%endif %}
                {% endif %}
              {%endif %}

           {% endif %}

            
        </div>
      </nav>
    </header>
  
    <main role="main" class="">
      <div class="container-fluid pt-4">
   
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}   ">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      
      </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>